{:source-paths ["src" "generated"]

 :dependencies [[funcool/promesa "2.0.0-SNAPSHOT"]
                [binaryage/oops "0.6.4"]]

 :builds {:app
          {:id        :app
           :target    :node-script
           :main      bali-bike-server.core/main
           :output-to "index.js"
           :dev {:closure-defines {bali-bike-server.core/pg-host "35.232.182.221"
                                   "goog.DEBUG" true}}
           :release {:compiler-options {:optimizations :simple}
                     :closure-defines {bali-bike-server.core/pg-host "postgres"
                                       "goog.DEBUG" false}}}}}
